    <div id="main-wrapper">
      <div class="rq-page-content">
        <div class="rq-content-block">
          <div class="rq-title-container bredcrumb-title small">
            <div class="container">
              <h2 class="rq-title">Almost Done</h2>              
            </div>
          </div>
         
          <div class="rq-registration-content-single small-bottom-margin"> <!-- start of registration portion -->
            <div class="container">
              <div class="rq-login-form no-border">
                <h5>Car Details</h5>
                <%= form_for(:bills, :url=>{:action=>'save_bill',:id=>@booking_details.id},:multipart=>true,:method=>'post') do |f|%>
                  <div class="row">
                    <div class="col-md-3">
                      <%=f.text_field :first_name , class: 'rq-form-control reverse',placeholder:'first_name',required:''%>                      
                    </div>

                    <div class="col-md-3">
                      <%= f.text_field :last_name,class: 'rq-form-control reverse',placeholder:'last_name',required:''%>
                    </div>

                    <div class="col-md-3">
                      <%= f.text_field :email,class: 'rq-form-control reverse',placeholder:'email-id',required:''%>
                    </div>

                    <div class="col-md-3">
                      
                      <%= f.select :seats, options_for_select(1..@booking_details.cardetail.seats), {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                    </div>

                    <div class="col-md-3">
                      <%= f.text_field :Address,class: 'rq-form-control reverse',placeholder:'address',required:''%>
                    </div>

                    <div class="col-md-3">
                      <%= f.number_field :zip_code,class: 'rq-form-control reverse',placeholder:'zip_code',required:''%>
                    </div>

                    <div class="col-md-3">
                      <%= f.text_field :contry,class: 'rq-form-control reverse',placeholder:'Contry',required:''%>
                    </div>            
                    
                    <div class="col-md-3">
                      <%= f.text_field :state,class: 'rq-form-control reverse',placeholder:'state',required:''%>
                    </div>                                     

                    <div class="col-md-12">
                      <div class="register-button">
                        <button type="submit" class="rq-btn rq-btn-primary border-radius">Register <i class="arrow_right"></i></button>
                      </div>
                    </div>
                  </div> <!-- end of registration section -->
               <%end%>

              </div>
            </div>
          </div><!--  end of registration form portin -->
        </div>
      </div>
    </div> <!-- end #main-wrapper -->
  